#timer-page-container {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  //background-color: yellowgreen;

  .timer-buttons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: var(--primary-color);
    display: none;
    justify-content: center;
    align-items: flex-end;

    .timer-buttons {
      width: 10rem;
      height: 10rem;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 50%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-top: 50%;
      transform: translateY(-6.5rem);

      //animation: testAnimation 2s forwards;
      &:focus {
        outline: none;
        background-color: burlywood;
      }

      .timer-buttons-icon {
        color: var(--primary-color);
        font-size: 7rem;
      }
    }
  }
}
