#timer-page-container {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  //background-color: yellowgreen;

  .timer-buttons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .timer-buttons {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 50%;
      text-decoration: none;
      display: none;
      justify-content: center;
      align-items: center;
      //margin-top: 50%;
      transform: translateY(-6.5rem);

      //animation: testAnimation 2s forwards;
      &:focus {
        outline: none;
        //background-color: burlywood;
      }

      .timer-buttons-icon {
        color: var(--primary-color);
        font-size: 7rem;
      }
    }
  }
}

.testContainer-repBall-timer {
  position: absolute;
  width: 100%;
  height: 100%;
  //background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .repBall-timer {
    width: 10rem;
    height: 10rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    font-size: 4rem;
    //font-weight: 900;

    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-top: 50%;
    transform: translateY(-50vh);

    //animation: testAnimation 2s forwards;
    &:focus {
      outline: none;
      //background-color: burlywood;
    }

    .repBallText-timer {
      //margin-top: 3rem;
      transform: translateY(2.3rem);
    }
  }
}

.end-screen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
}

.end-screen {
  position: absolute;
  color: var(--secondary-color);
  font-size: 10rem;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  //border-radius: 50%;
  display: none;
  pointer-events: none;
  //border-color: var(--secondary-color);
  //border-width: 10rem;
  justify-content: center;
  align-items: center;
}

/*
.end-screen-animation {
  animation: end-screen-pop 0.5s forwards ease-in;
  @keyframes end-screen-pop {
    from {
      height: 0.5rem;
      width: 0.5rem;
    }
    to {
      width: 120vh;
      height: 120vh;
    }
  }
}
*/

// entry animations ------------------------------------------------

.enter-TimerPage-counter-animation {
  animation: enter-TimerPage-counter 1s;
  @keyframes enter-TimerPage-counter {
    from {
      transform: translateY(50vh);
      width: 0.5rem;
    }
    to {
    }
  }
}

.enter-TimerPage-counterText-animation {
  animation: enter-TimerPageText-counter 1s;
  @keyframes enter-TimerPageText-counter {
    from {
      font-size: 1rem;
    }
    to {
    }
  }
}

.enter-TimerPage-button-animation {
  animation: enter-button-counter 1s;
  @keyframes enter-button-counter {
    from {
      transform: translateY(80vh) scale(0.5);
    }
    to {
    }
  }
}

.enter-TimerPage-ball-animation {
  animation: enter-TimerPage-ball 0.3s ease-in;
  @keyframes enter-TimerPage-ball {
    from {
    }
    to {
      transform: translateY(50vh);
      width: 8rem;
      height: 8rem;
    }
  }
}

.enter-TimerPage-ballText-animation {
  animation: enter-TimerPage-ballText 0.3s ease-in;
  @keyframes enter-TimerPage-ballText {
    from {
    }
    to {
      transform: translateY(-3rem) scale(0);
    }
  }
}

.testContainer-ball-timer {
  position: absolute;
  width: 100%;
  height: 100%;
  //background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .ball-timer {
    width: 15rem;
    height: 15rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    font-size: 4rem;
    //font-weight: 900;

    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-top: 50%;
    transform: translateY(50vh) scale(1.6);

    //animation: testAnimation 2s forwards;
    &:focus {
      outline: none;
      //background-color: burlywood;
    }

    .goBtnText-timer {
      //margin-top: 3rem;
      transform: translateY(-3rem);
    }
  }
}

// button animations -----------------------------------------------

// start with stop and play invisible
#play,
#stop {
  display: none;
}

.btn-click-wiggle-animation {
  animation: btn-click-wiggle 0.3s;
  @keyframes btn-click-wiggle {
    0% {
    }
    50% {
      transform: translateY(-6.5rem) scaleX(0.8) scaleY(0.8);
    }
    100% {
    }
  }
}

.playButton-spread-timer-animation {
  animation: playButton-spread-timer 0.5s ease-out forwards;

  @keyframes playButton-spread-timer {
    from {
    }
    to {
      transform: translateY(-6.5rem) translateX(8rem);
    }
  }
}

.stopButton-spread-timer-animation {
  animation: stopButton-spread-timer 0.5s ease-out forwards;

  @keyframes stopButton-spread-timer {
    from {
    }
    to {
      transform: translateY(-6.5rem) translateX(-8rem);
    }
  }
}

.playButton-snuggle-timer-animation {
  animation: playButton-snuggle-timer 0.5s ease-out;
  @keyframes playButton-snuggle-timer {
    from {
      transform: translateY(-6.5rem) translateX(8rem);
    }
    to {
      //transform: translateY(-6.5rem);
    }
  }
}

.stopButton-snuggle-timer-animation {
  animation: stopButton-snuggle-timer 0.5s ease-out;
  @keyframes stopButton-snuggle-timer {
    from {
      transform: translateY(-6.5rem) translateX(-8rem);
    }
    to {
      //transform: translateY(-6.5rem);
    }
  }
}

.playButton-clicked-snuggle-timer-animation {
  animation: playButton-clicked-snuggle-timer 0.5s ease-out;
  @keyframes playButton-clicked-snuggle-timer {
    0% {
      transform: translateY(-6.5rem) translateX(8rem);
    }
    20% {
      transform: translateY(-6.5rem) translateX(8rem) scaleX(0.8) scaleY(0.8);
    }
    40% {
      transform: translateY(-6.5rem) translateX(8rem);
    }
    100% {
      //transform: translateY(-6.5rem);
    }
  }
}

.stopButton-clicked-snuggle-timer-animation {
  animation: stopButton-clicked-snuggle-timer 0.5s ease-out;
  @keyframes stopButton-clicked-snuggle-timer {
    0% {
      transform: translateY(-6.5rem) translateX(-8rem);
    }
    20% {
      transform: translateY(-6.5rem) translateX(-8rem) scaleX(0.8) scaleY(0.8);
    }
    40% {
      transform: translateY(-6.5rem) translateX(-8rem);
    }
    to {
      //transform: translateY(-6.5rem);
    }
  }
}
