*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
  /*prevent scrolling */
  position: fixed; }

#home-page-container {
  height: 100%;
  width: 100%; }
  #home-page-container .testContainer {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center; }
    #home-page-container .testContainer .ball {
      width: 15rem;
      height: 15rem;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 50%;
      font-size: 4rem;
      color: var(--primary-color);
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(30vh); }
      #home-page-container .testContainer .ball:focus {
        outline: none; }
  #home-page-container .leaveToSettingsPage-ball {
    animation: testAnimationLeave 0.5s forwards ease-out; }
    #home-page-container .leaveToSettingsPage-ball .goBtnText {
      animation: testAnimationLeave2 0.5s forwards ease-out; }

@keyframes testAnimationLeave2 {
  from { }
  to {
    transform: translateY(-3rem); } }

@keyframes testAnimationLeave {
  from { }
  10% {
    transform: translateY(30vh) scale(0.75); }
  30% {
    transform: translateY(35vh) scale(1.1); }
  to {
    transform: translateY(50vh) scale(1.6); } }
  #home-page-container .enter-HomePage-ball {
    animation: enterHomePageBall 1s; }

@keyframes enterHomePageBall {
  from {
    transform: translateY(30vh) scale(0); }
  to {
    transform: translateY(30vh) scale(1); } }
  #home-page-container .app-heading {
    position: absolute;
    width: 80%;
    left: 10%; }
    #home-page-container .app-heading svg .path-appHeading {
      stroke: var(--secondary-color);
      stroke-dasharray: 600 2000;
      stroke-dashoffset: -600;
      stroke-linecap: round; }
    #home-page-container .app-heading svg .enter-HomePage-appHeading-animation {
      animation: enter-HomePage-appHeading 1s ease-out; }

@keyframes enter-HomePage-appHeading {
  from {
    stroke-dashoffset: -1614; }
  to { } }
    #home-page-container .app-heading svg .leave-HomePageToSettingsPage-appHeading-animation {
      animation: leave-HomePageToSettingsPage-appHeading reverse 0.5s ease-out; }

@keyframes leave-HomePageToSettingsPage-appHeading {
  from {
    stroke-dashoffset: -1614; }
  80% {
    stroke-dashoffset: -580; }
  to {
    stroke-dashoffset: -600; } }

.testContainer-slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none; }

/*
width: 100% * x
>100% --> strokeW: 20 - 20 * 1/x // r: 40 + 20 * 1/x *1/2 
<100% --> strokeW: 20 + 20 * x // r: 40 - 20 * x *1/2
*/
#radial-slider-container-0 {
  position: absolute;
  top: 0;
  width: 70%;
  transform: translateY(-50%); }
  #radial-slider-container-0 .radial-slider-path {
    stroke-width: 32;
    r: 34; }
  #radial-slider-container-0 .radial-slider-valueDisp {
    margin-top: 1rem; }

#radial-slider-container-1 {
  position: absolute;
  top: 0;
  width: 130%;
  transform: translateY(-50%); }
  #radial-slider-container-1 .radial-slider-path {
    stroke-width: 17;
    r: 41.5; }
  #radial-slider-container-1 .radial-slider-valueDisp {
    margin-top: 1rem; }

#radial-slider-container-2 {
  position: absolute;
  top: 0;
  width: 190%;
  transform: translateY(-50%); }
  #radial-slider-container-2 .radial-slider-path {
    stroke-width: 11.5;
    r: 44.25; }
  #radial-slider-container-2 .radial-slider-valueDisp {
    margin-top: 1rem; }

#radial-slider-container-3 {
  position: absolute;
  bottom: 0;
  width: 120%;
  transform: translateY(50%); }
  #radial-slider-container-3 .radial-slider-path {
    stroke-width: 18;
    r: 41; }

.radial-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*makes the elements invisble to click events, only the stroke will be set to be interactable*/
  pointer-events: none; }

.radial-slider-valueDisp-container {
  position: absolute;
  z-index: 5;
  height: 100%;
  transform: rotateZ(0); }

.radial-slider-valueDisp {
  user-select: none;
  color: var(--primary-color);
  font-size: 4rem;
  transform: rotateX(0);
  margin-top: 1.5rem; }

.radial-slider-svg {
  /*background-color: green;*/
  /*transform: scaleY(1) rotateX(180deg) rotateZ(90deg);*/
  transform: rotateZ(90deg); }

.radial-slider-path {
  stroke: var(--secondary-color);
  stroke-dasharray: 25;
  stroke-dashoffset: 200;
  fill: none;
  stroke-linecap: round;
  /*enable it to detect mouse/touch events: slider stacking possible*/
  pointer-events: stroke; }

/*@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 26.482;
  }
}*/
.enter-SettingsPage-slider-animation {
  animation: enter-SettingsPage-slider 1.5s ease-out; }

@keyframes enter-SettingsPage-slider {
  from {
    stroke-dashoffset: 250; }
  to { } }

.enter-SettingsPage-valueDisp-animation {
  animation: enter-SettingsPage-valueDisp 1.5s ease-out; }

@keyframes enter-SettingsPage-valueDisp {
  from {
    transform: rotateZ(-300deg); }
  to { } }

.enter-SettingsPage-valueDisp-animation-upsideDown {
  animation: enter-SettingsPage-valueDisp-upsideDown 1.5s ease-out; }

@keyframes enter-SettingsPage-valueDisp-upsideDown {
  from {
    transform: rotateZ(30deg); }
  to { } }

.leave-SettingsPage-slider-animation {
  animation: leave-SettingsPage-slider 0.8s ease-in; }

@keyframes leave-SettingsPage-slider {
  from { }
  to {
    stroke-dashoffset: 250; } }

.leave-SettingsPage-valueDisp-animation {
  animation: leave-SettingsPage-valueDisp 0.8s ease-in; }

@keyframes leave-SettingsPage-valueDisp {
  from { }
  to {
    transform: rotateZ(-300deg); } }

.leave-SettingsPage-valueDisp-animation-upsideDown {
  animation: leave-SettingsPage-valueDisp-upsideDown 0.8s ease-in; }

@keyframes leave-SettingsPage-valueDisp-upsideDown {
  from { }
  to {
    transform: rotateZ(30deg); } }

#settings-page-container {
  height: 100%;
  width: 100%; }
  #settings-page-container .testContainer-settings {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center; }
    #settings-page-container .testContainer-settings .ball-settings {
      width: 15rem;
      height: 15rem;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 50%;
      font-size: 4rem;
      color: var(--primary-color);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(50vh) scale(1.6); }
      #settings-page-container .testContainer-settings .ball-settings:focus {
        outline: none; }
      #settings-page-container .testContainer-settings .ball-settings .goBtnText-settings {
        transform: translateY(-3rem); }
  #settings-page-container .testEnter {
    color: gainsboro; }

#timer-page-container {
  height: 100%;
  width: 100%; }
  #timer-page-container .testContainer-timer {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center; }
    #timer-page-container .testContainer-timer .ball-timer {
      width: 25rem;
      height: 25rem;
      background-color: pink;
      border: none;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: 900;
      color: var(--primary-color);
      text-decoration: none;
      text-align: center;
      transform: translateY(50vh); }
      #timer-page-container .testContainer-timer .ball-timer:focus {
        outline: none;
        background-color: burlywood; }
  #timer-page-container .testEnterTimer {
    color: gainsboro; }

.testContainer-slider-timer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; }

#radial-slider-container-4 {
  position: absolute;
  width: 80%;
  transform: translateY(-20%); }
  #radial-slider-container-4 .radial-slider-path {
    stroke-width: 22;
    r: 39; }
  #radial-slider-container-4 .radial-slider-valueDisp {
    margin-top: 1rem; }

:root {
  --primary-color: #edf2f4;
  --secondary-color: #073b4c; }

/*
width: 100% * x
>100% --> strokeW: 20 - 20 * 1/x // r: 40 + 20 * 1/x *1/2 
<100% --> strokeW: 20 + 20 * x // r: 40 - 20 * x *1/2
*/
/*
@function strokeWidth($elWidth, $baseStrokeWidth) {
    $var = 
    $strokeWidth = $baseStrokeWidth +  ;
  @return $strokeWidth;
}
*/
#page-container {
  height: 100vh;
  width: 100vw; }
