*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --path-length: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: pink;*/

  /*prevent scrolling */
  position: fixed;
  /*overflow: hidden;*/
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
}

#radial-slider-container-0 {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(0%);
}

#radial-slider-container-1 {
  position: absolute;
  bottom: 0;
  width: 120%;
  transform: translateY(50%);
}

.radial-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*makes the elements invisble to click events, only the stroke will be set to be interactable*/
  pointer-events: none;
}

.radial-slider-valueDisp-container {
  position: absolute;
  z-index: 5;
  height: 100%;
  transform: rotateZ(0);
}

.radial-slider-valueDisp {
  user-select: none;
  color: white;
  transform: rotateX(0);
  margin-top: 1.5rem;
}

.radial-slider-svg {
  /*background-color: green;*/
  /*transform: scaleY(1) rotateX(180deg) rotateZ(90deg);*/
  transform: rotateZ(90deg);
}

.radial-slider-path {
  stroke: #4285f4;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  fill: none;
  stroke-linecap: round;
  /*enable it to detect mouse/touch events: slider stacking possible*/
  pointer-events: stroke;
}

#radial-slider-container-0 .radial-slider-path {
  stroke-width: 20;
  r: 40;
}

#radial-slider-container-1 .radial-slider-path {
  stroke-width: 16;
  r: 42;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 26.482;
  }
}
